/* regole principali pagina */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: #F6F8F9;
    font-family: 'Roboto', sans-serif;
}

/* regole header */
h1{
    display: inline-block;
    vertical-align: middle;
}

.logo{
    vertical-align: middle;
}

header{
    padding: 10px 20px; 
    background-color: #fff;
    margin-bottom: 20px;
}

/* regole container */
.container {
    max-width: 800px;
    background-color: #fff;
    margin:auto;
    padding:20px 50px;
}

/* regole bottoni */

.bottoni{
    max-width: 800px;
    background-color: #fff;
    margin:auto;
    padding: 15px 50px 10px 50px;
    border-bottom:3px solid #F6F8F9;
}

button{
    border-radius: 5px;
    padding:5px 10px;
    vertical-align: middle;
    font-family: inherit;
}

.task{
    background-color: #45ABEA;
    color: #fff;
    border: 1px solid #45ABEA;
}

.section {
    background-color: white;
    color: lightgray;
    border: 1px solid lightgray;    
}

/* regole main */
.title-section {
    margin:40px 0px 20px 0px;
}
.circle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    margin-right: 10px;
}

.circle-check{
    border:1px solid #64C0A9;
    color: #64C0A9;
}

.circle-cross{
    border:1px solid red;
    color: red;
}

span {
    vertical-align: middle;
}

.tag{
    display: inline-block;
    border-radius: 10px;
    padding:8px 13px;
    vertical-align:middle;
    background-color: #45ABEA;
    color: #fff;
    font-size: 10px;
}

.tag-purple{
    background-color: #9C72E4;
}

.tag-green{
    background-color: #64C0A9;
}

.tag-orange {
    background-color: #F29E33;
}

.tag-fuxia {
    background-color: #D863A1;
}

.tag-lime {
    background-color: #B0C926;
}

.elements{
    margin-top: 20px;
}